body{
    background: rgba(0, 0, 0, 0.7) url('food.jpg') center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.head h1{
    font-family: sans-serif;
   color :rgb(255,69, 0);
    font-size: 30px;
    margin-left: 25%;
}
.head h2{
    font-family: sans-serif;
   color :rgb(227, 221, 220);
    font-size: 20px;
    margin-left: 7%;
}
.head h3{
    font-family: sans-serif;
   color :rgb(255, 69, 0);
    font-size: 20px;
    margin-left: 7%;
}
