body{
    background: rgba(0, 0, 0, 0.7) url('menu.jpg') center center fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}